name: Android Build
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Setup JDK
        uses: actions/setup-java@v1
        with:
          java-version: 11

      - name: Run Tests
        run: ./gradlew koverMergedReport --stacktrace

      - name: Archive Reports
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: 'reports'
          path: build/reports/

      - name: Assemble
        run: ./gradlew assemble

      - name: Temporarily Archive AARs
        uses: actions/upload-artifact@v3
        with:
          name: 'temp-aars'
          path: vessel-runtime/build/outputs/aar
